<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <link href="fig2.css" rel="stylesheet"/>
        <script src="keywords.js"></script>
    </head>
    <body ng-controller="Fig2ListCtrl">
        <a href="keywords/format.html">format</a>
        <a href="keywords/tips.html">tips</a>
        <a href="sample.html">sample</a>
        <a href="download.html">download</a>
        <div class="toolbar">
            Search: <input type="text" ng-model="query" placeholder="search">
        </div>
        <h6>一般</h6>
        <div ng-repeat="keyword in generals | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>視点</h6>
        <div ng-repeat="keyword in views | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>節点情報</h6>
        <div ng-repeat="keyword in nodes | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>部材情報</h6>
        <div ng-repeat="keyword in elems | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>絞り込み</h6>
        <div ng-repeat="keyword in efilter | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>解析結果</h6>
        <div ng-repeat="keyword in results | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>テキスト</h6>
        <div ng-repeat="keyword in texts | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>色</h6>
        <div ng-repeat="keyword in colors | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
        <h6>その他</h6>
        <div ng-repeat="keyword in colors | filter:query">
            <a href="keywords/{{keyword.name}}.html">{{keyword.name}}</a><label> : {{keyword.description}}</label>
        </div>
    </body>
</html>
